bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.NugetInvestigation/.idea/encodings.xml
/.idea/.idea.NugetInvestigation/.idea/indexLayout.xml
/.idea/.idea.NugetInvestigation/.idea/vcs.xml
/.idea/.idea.NugetInvestigation/.idea/.gitignore
